*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,.8)),url('../assets/1.jpg');
 }  

 .main-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8772EE;
    height: 50vh;
 }
 .port{
    width: 100%;
    padding: 40px;
    width: 100%;
    justify-content: center;
 }

 .port-img{
    width: 40%;
 }
 .port-desc{
    width: 40%;
 }
 .port div img{
    width: 70%;
 
}
.port-icon{
    padding: 10px;
    background: #8772EE;
    color: #fff;
}
 @media(max-width:700px){
    .port{
        text-align: center;
    }
    .port div{
        width: 80%;
        margin: 20px 0;
    }
 }